{% extends 'vehicle/adminbase.html' %}
{% block content %}
{% load static %}

<!-- main content -->
<div class="wrapper">

    <!-- ****** table start ********** -->
    <div class="row">
        <div class="col-12 col-m-12 col-sm-12">
            <div class="card">
                <div class="card-header">
                    <h3 style="color:red; text-align:center">
                        Approve Enquiry Made By Customer
                    </h3>
                </div>
                <div class="card-content">
                    <div class="table-container">
                        <table class="styled-table">
                            <thead>
                                <tr>
                                    <th>Vehicle Name</th>
                                    <th>Vehicle Category</th>
                                    <th>Vehicle Number</th>
                                    <th>Problem Description</th>
                                    <th>Approve</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for r in enquiry %}
                                <tr>
                                    <td>{{ r.vehicle_name }}</td>
                                    <td>{{ r.category }}</td>
                                    <td>{{ r.vehicle_no }}</td>
                                    <td>{{ r.problem_description }}</td>
                                    <td>
                                        <a class="approve" href="{% url 'approve-request' r.id %}">&#10004;</a>
                                    </td>
                                </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- ****** table end ********** -->
    <br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
</div>
<!-- end main content -->
{% endblock content %}

<style>
    .styled-table {
        width: 100%;
        background-color: #f9f9f9;
        border-collapse: collapse;
        margin: 20px 0;
        font-size: 0.9em;
        box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
    }

    .styled-table thead tr {
        background-color: #007bff;
        color: #ffffff;
        text-align: left;
    }

    .styled-table th,
    .styled-table td {
        padding: 12px 15px;
    }

    .styled-table tbody tr {
        border-bottom: 1px solid #dddddd;
    }

    .styled-table tbody tr:nth-of-type(even) {
        background-color: #f3f3f3;
    }

    .styled-table tbody tr:last-of-type {
        border-bottom: 2px solid #007bff;
    }

    .styled-table tbody tr.active-row {
        font-weight: bold;
        color: #007bff;
    }

    .approve {
        color: #00FF00;
        font-size: 25px;
        text-decoration: none;
    }
</style>
